<!-- patTemplate:tmpl name="content" -->
<h1>
   <!-- patTemplate:gtfwgetconfig config="language" name="anggota" / -->
</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput">
   <input type="hidden" name="data_id" value="{ID}" />
   <table class="table-edit" width="100%">
      <tr class="subhead">
         <th colspan="2">
            Add
         </th>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kelompok" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="kelompok"  / -->
         </td>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <td>
            <input type="text" name="nama" id="nama" size="35" value="{NAMA}" />
         </td>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="email" / -->
         </th>
         <td>
            <input type="text" name="email" id="email" size="35" value="{EMAIL}" />
         </td>
      </tr>
      <tr>
         <th style="width: 115px;">
            Nomor Telephon
         </th>
         <td>
            <input type="text" name="phone" id="phone" size="35" value="{PHONE}" />
         </td>
      </tr>
      <tr>
         <th style="width: 115px;">
            Alamat
         </th>
         <td>
            <textarea rows="3" style="resize: none; width: 60%" name="alamat">{ALAMAT}</textarea>
         </td>
      </tr>
      <tr class="buttons">
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnsimpan" value=" Simpan " class="buttonSubmit"/>
            <input type="submit" name="btnbalik" value=" Batal " class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>
<!-- /patTemplate:tmpl -->